In [10]:
import pandas as pd

In [11]:
data = pd.read_csv('../data_2/mhealth_raw_data.csv')
data

,alx,aly,alz,glx,gly,glz,arx,ary,arz,grx,gry,grz,Activity,subject
0,2.1849,-9.6967,0.63077,0.103900,-0.84053,-0.68762,-8.6499,-4.5781,0.187760,-0.449020,-1.01030,0.034483,0,subject1
1,2.3876,-9.5080,0.68389,0.085343,-0.83865,-0.68369,-8.6275,-4.3198,0.023595,-0.449020,-1.01030,0.034483,0,subject1
2,2.4086,-9.5674,0.68113,0.085343,-0.83865,-0.68369,-8.5055,-4.2772,0.275720,-0.449020,-1.01030,0.034483,0,subject1
3,2.1814,-9.4301,0.55031,0.085343,-0.83865,-0.68369,-8.6279,-4.3163,0.367520,-0.456860,-1.00820,0.025862,0,subject1
4,2.4173,-9.3889,0.71098,0.085343,-0.83865,-0.68369,-8.7008,-4.1459,0.407290,-0.456860,-1.00820,0.025862,0,subject1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215740,1.7849,-9.8287,0.29725,-0.341370,-0.90056,-0.61493,-3.7198,-8.9071,0.294230,0.041176,-0.99384,-0.480600,0,subject10
1215741,1.8687,-9.8766,0.46236,-0.341370,-0.90056,-0.61493,-3.7160,-8.7455,0.448140,0.041176,-0.99384,-0.480600,0,subject10
1215742,1.6928,-9.9290,0.16631,-0.341370,-0.90056,-0.61493,-3.8824,-9.1155,0.450480,0.041176,-0.99384,-0.480600,0,subject10
1215743,1.5279,-9.6306,0.30458,-0.341370,-0.90056,-0.61493,-3.5564,-9.1441,0.594880,0.041176,-0.99384,-0.480600,0,subject10
1215744,1.6614,-9.8398,0.18088,-0.332100,-0.90432,-0.61886,-3.9035,-8.9324,0.761710,0.035294,-1.02050,-0.471980,0,subject10

In [14]:
columns = data.columns.to_list()
len(columns)

14

In [20]:
# The activity label 0 corresponds to recordings in between the exercises. Thus, discard those instances
data = data[data['Activity'] != 0]
data

,alx,aly,alz,glx,gly,glz,arx,ary,arz,grx,gry,grz,Activity,subject
6656,2.6493,-9.4517,0.37683,-0.20965,-0.88931,-0.50884,-2.8439,-9.0618,1.81770,-0.058824,-0.93429,-0.344830,1,subject1
6657,2.4157,-9.5306,0.40179,-0.20965,-0.88931,-0.50884,-2.9935,-9.2048,1.51890,-0.058824,-0.93429,-0.344830,1,subject1
6658,2.3865,-9.5991,0.48141,-0.20037,-0.86867,-0.50688,-2.8846,-9.1945,1.55070,-0.058824,-0.93429,-0.344830,1,subject1
6659,2.3758,-9.5997,0.42919,-0.20037,-0.86867,-0.50688,-2.9245,-9.1746,1.54130,-0.078431,-0.93429,-0.340520,1,subject1
6660,2.3239,-9.5406,0.40038,-0.20037,-0.86867,-0.50688,-2.8963,-9.2039,1.61270,-0.078431,-0.93429,-0.340520,1,subject1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1213641,-2.4873,-19.2330,3.46140,0.61967,-0.33771,-0.82711,-8.2348,-4.9652,2.48090,-0.437250,-1.01850,0.079741,12,subject10
1213642,-21.5910,-19.4370,-6.04190,0.61967,-0.33771,-0.82711,-21.3180,-10.2130,3.65600,-0.437250,-1.01850,0.079741,12,subject10
1213643,7.5433,-19.2450,-2.66800,0.61967,-0.33771,-0.82711,-21.2970,-18.7050,4.46060,-0.437250,-1.01850,0.079741,12,subject10
1213644,3.0142,-19.3340,-7.70740,0.71058,-0.27017,-0.75442,-21.1380,-18.6980,1.15880,-0.425490,-1.03700,0.084052,12,subject10
1213645,-2.3698,-19.3000,-4.23870,0.71058,-0.27017,-0.75442,-21.1730,-14.2910,-0.13123,-0.425490,-1.03700,0.084052,12,subject10

In [24]:
# train test split
from sklearn.model_selection import train_test_split
train_percentage = 0.7
test_percentage = 0.3

In [25]:
grouped = data.groupby(['subject', 'Activity'])

train_data = []
test_data = []

In [26]:
for group, group_data in grouped:
    train, test = train_test_split(group_data, test_size=test_percentage, random_state=42)
    train_data.append(train)
    test_data.append(test)

In [27]:
train_data = pd.concat(train_data)
test_data = pd.concat(test_data)

In [29]:
train_data.shape, test_data.shape

((240182, 14), (103013, 14))

In [31]:
# save train and test data to csv
train_data.to_csv('../data_prep/train_data.csv', index=False)
test_data.to_csv('../data_prep/test_data.csv', index=False)